/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* .desktop-navbar */
.desktop-nav {
  background-color: #f8a5a5;
  padding: 15px 100px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

.desktop-nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.desktop-nav .heroimage-div .menu-icon {
  height: 20px;
  width: 20px;
  margin-left: 100px;
  cursor: pointer;
}

.desktop-nav ul li {
  font-weight: bold;
  letter-spacing: 1px;
}

.desktop-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.mobile-nav{
  display: none;
}

/* .desktop-nav .menu-icon {
  font-size: 22px;
  cursor: pointer;
  display: none;
} */

/* Hero Section */
.hero {
  display: flex;
  height: calc(100vh - 60px);
}

.hero-text {
  flex: 1;
  background: linear-gradient(to right, #fffecf, #ffbebe);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero-text p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 70px;
  color: #333;
}

.hero-text button {
  background-color: #f48181;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s;
  width: 50%;
}

.hero-text button:hover {
  background-color: #d36c6c;
}

.hero-image {
  flex: 1;
  width: 50%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallary */
.gallarydiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  gap: 50px;
  background: linear-gradient(to right, #fffecf, #ffbebe);
}
.gallarydiv .gallary {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallarydiv .gallary .leftimg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.gallarydiv .gallary .leftimg img {
  width: 200px;
  height: 200px;
}
.gallarydiv .rightimg img {
  width: 200px;
  height: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  background-color: #f48181;
  padding: 20px;
}
.card h4 {
  font-size: 12px;
}
.card h2 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 8px;
}
.arrow {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .desktop-nav {
    justify-content: end;
    padding: 10px 20px;
  }
  .desktop-nav ul {
    display: none;
  }

  /* .desktop-nav .menu-icon {
    display: block;
  } */

  .hero {
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
    padding: 20px 20px 50px 20px;
  }
  .hero-text h1 {
    margin-bottom: 50px;
  }
  .hero-text p {
    margin-bottom: 40px;
  }
  .hero-image {
    height: 300px;
    width: 100%;
  }

  /* gallary */
  .gallary .leftimg {
    width: 100%;
  }
  .gallary .rightimg {
    width: 100%;
  }
  .gallary .leftimg img {
    width: 100% !important;
    object-fit: cover;
  }
  .gallary .rightimg img {
    width: 100%;
  }

  /*  */
  /* mobile */
  .mobile-nav {
    display: none; /* hidden by default */
    padding: 10px;
    background-color: #f8a5a5;
  }
  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  .mobile-nav ul li {
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .mobile-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .mobile-nav.active {
    display: block; /* visible when active */
  }
}
